.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
}

.main-header {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-header .header-upper {
    position: relative;
    padding: 6px 0px 2px;
    background: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    z-index: 5;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.pull-left {
    float: left!important;
}


.main-header .header-upper .upper-right {
    position: relative;
    padding: 25px 0px;
}

.main-header .info-box {
    position: relative;
    float: left;
    min-height: 56px;
    margin: 0px 40px;
    padding: 7px 0px 7px 70px;
}


.main-header .info-box .icon-box {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    color: #ff573b;
    font-size: 22px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.main-header .social-links-one {
    top: 7px;
}

.social-links-one {
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ff573b;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.social-links-one a {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #928d8d;
    border-radius: 50%;
    background: #f4f4f4;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.social-links-one a:hover {
    background: #ff573b;
    color: #ffffff;
}

.main-header .info-box li a {
    color: #9b9b9b;
}

.main-header .info-box li {
    position: relative;
    line-height: 24px;
    margin: 0px 0px;
    font-size: 14px;
    color: #9b9b9b;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}